/* MEDIA QUERIES for MOBILE - breakpoint 768px*/
@media screen and (max-width: 768px) {

    /* Utility */
    .container {
        padding: 0 1.25em;
    }
    
    .no-padding-mobile {
        padding: 0;
    }

    /* Header */
    .header-nav {
        display: block;
    }
    
    .logo {
        margin: 1.3em auto 2.375em auto;
    }

    .header-nav a {
        text-align: center;
        margin: 0;
        padding: 0 0 1.4em 0;
        width: 49%;
        border-bottom: 3px solid #F2F2F2;
    }
    
    .header-nav a:hover,
    .header-nav a:active {
        border-top: none;
        border-bottom: 3px solid var(--dark-blue);
        color: var(--dark-blue);
    }
    
    .title {
        line-height: 26px;
        margin: 1.9em 0 0.4em 0;
    }
    
    /* Search bar */
    .search-form {
        margin-top: 2.25em;
    }
    
    .location-input {
        width: 100%;
        min-width: 150px; /*adjust if necessary*/
    }
    
    .submit-btn-mobile {
        display: block;
    }

    .submit-btn-desktop,
    .hide-mobile {
        display: none;
    }

    .filter-bar {
        display: block;
    }
    
    .filter-btn {
        width: 49%;
        height: 50px;
        margin-top: 1em;
        text-align: left; 
    }
    
    .btn-wrapper {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0;
    }

    .filter-btn span {
        font-size: 0.6875rem;
    }

    /* Sections */
    .accomodation-section {
        flex-wrap: wrap;
    }

    .accomodation-wrapper,
    .aside-wrapper {
        width: 100%;
        border-radius: 0;
        padding: 1.75em 1.25em 3.5em;
        background-color: #fff;
    }
    
    .accomodation-wrapper {
        order: 2;
        flex-direction: column;
    }
    
    .aside-wrapper {
        background-color: var(--section-grey);
    }
    
    .accomodation-flex,
    .aside-flex {
        gap: 0.7em;
    }
    
    .activities-flex {
        gap: 1.5em;
    }

    .accomodation-flex,
    .activities-flex,
    .aside-flex {
        flex-direction: column;   
    }
    
    .accomodation-card {
        max-height: 220px;
    } 
    
    .accomodation-card,
    .aside-card,
    .activity-card {
        width: 100%;
        max-width: 100%;
    }
    
    .activity-card-heading {
        margin-left: 0.75em;
    } 

    .accomodation-img {
        max-height: 124px;
    }    

    .activity-heading {
        width: 200px;
    }
    
    .activity-card {
        height: 190px;
    } 
    
    .activity-img {
        width: 100%;
        height: 70%;
        min-height: 134px;
    }
    
    .activity-text {
        height: 30%; 
    }

    /* Footer */
    .footer-flex {
        flex-direction: column;
        gap: 2.5em;
        padding-left: 2em;
    }
    
     .footer-column h2 {
        margin-bottom: 0.3em
    }

    .footer-column a {
        line-height: 2em;
    }
}