/* MEDIA QUERIES for MOBILE - breakpoint 768px*/
@media screen and (max-width: 768px) {
    body {
        /* padding: 0 20px; */
        padding: 0;
    }
    
    .search-bar,
    .filter-bar,
    .btn-wrapper {
      width: 100%;
    }
    
    .submit-btn-mobile {
        display: block;
    }

    .submit-btn-desktop,
    .hide-mobile {
        display: none;
    }

    .accomodation-section {
        flex-wrap: wrap;
    }

    .accomodation-wrapper,
    .aside-wrapper {
        width: 100%;
        border-radius: 0;

        background-color: var(--section-grey);
        padding-left: 0;
        padding-right: 0
    }

    .aside-wrapper {
        background-color: #F2F2F2;
    }

    .accomodation-wrapper {
        background-color: #fff;
    }
    .accomodation-flex,
    .activities-flex {
        flex-direction: column;
    }

    .accomodation-wrapper {
        order: 2;
        flex-direction: column;
    }

    .accomodation-img {
        max-height: 124px;
    }    

    .accomodation-card {
        max-height: 214px;
    }  
    
    .activity-img {
        width: 100%;
    }

    footer {
        flex-direction: column;
        gap: 2.5em;
        padding-left: 0;
        padding-right: 0
    }
  }